
@model Quanlicaan.Models.DangKyCaNhanModel
@using Quanlicaan.Models;
@{
    ViewBag.Title = "Đăng ký ca ăn cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewData["message"] ?? string.Empty; 
    if (@message != "")
    {
        <script>alert('@message');</script>
    }

}
<div>
    <style>

        * {
            box-sizing: border-box;
        }

        input[type=submit] {
            background-color: #58257b;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }


        input [type=text] {
            width: 100%;
        }

        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        input[type=text] {
            border: 2px solid purple;
            border-radius: 4px;
        }

        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 3px solid #e9d8f4;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
        }

            input[type=text]:focus {
                border: 3px solid #58257b;
            }

        input[type=button] {
            background-color: #e9d8f4;
            border: none;
            color: #58257b;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }

        input[type=submit] {
            width: 100%;
            background-color: #58257b;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
    </style>
    <div class="page-header">
        <h1 class="page-header">ĐĂNG KÝ ĂN CA CÁ NHÂN</h1>
    </div>
    @using (Html.BeginForm("XuLyDangKyCaNhan", "CaAn", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="">
                <div class="col-25">
                    <label class="label" for="hoTen">HỌ TÊN</label>
                </div>
                <div class="col-75">
                    @Html.EditorFor(model => model.hoTen, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div>
                <div class="col-25">
                    <label class="label" for="hoTen">PHÒNG BAN</label>
                </div>
                <div class="col-75">
                    @Html.EditorFor(model => model.phongBan, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div>
                <div class="col-25">
                    <label class="label" for="hoTen">NGÀY ĐĂNG KÝ</label>
                </div>
                <div class="col-75">
                    @Html.EditorFor(model => model.ngayDK, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>
            <div class="row">
                @{

                    <div class="">
                        <label class="label" for="checkbox_ca1">Ca 1:</label>
                        <input type="checkbox" class="checkbox-ca1" id="checkbox_ca1" onclick="EnableDisableTextBox('checkbox_ca1', 'input_ca1')" name="checkbox-ca1" value="">
                        @Html.EditorFor(model => model.SLCa1, new { htmlAttributes = new { @class = "form-control", id = "input_ca1", disabled = "disabled" } })
                        suất
                    </div>
                    <div class="ca1">
                        <label class="label" for="checkbox_ca2">Ca 2:</label>
                        <input type="checkbox" class="checkbox-ca2" id="checkbox_ca2" onclick="EnableDisableTextBox('checkbox_ca2', 'input_ca2')" name="checkbox-ca1" value="">
                        @Html.EditorFor(model => model.SLCa2, new { htmlAttributes = new { @class = "form-control", id = "input_ca2", disabled = "disabled" } })
                        suất
                    </div>
                    <div class="ca1">
                        <label class="label" for="checkbox_ca2">Ca 3:</label>
                        <input type="checkbox" class="checkbox-ca3" id="checkbox_ca3" onclick="EnableDisableTextBox('checkbox_ca3', 'input_ca3')" name="checkbox-ca1" value="">
                        @Html.EditorFor(model => model.SLCa3, new { htmlAttributes = new { @class = "form-control", id = "input_ca3", disabled = "disabled" } })

                    </div>
                    <div class="">
                        <input type="submit" class="btn btn-info" value="OK" />
                        <button class="">
                            <a href="~/Home/Index">Cancel</a>
                        </button>


                    </div>

                }
            </div>
            
            <script type="text/javascript">
                function EnableDisableTextBox(checkbox_caAn, inputCaAn) {
                    var input_ca1 = document.getElementById(inputCaAn);
                    var checkbox_caAn = document.getElementById(checkbox_caAn)
                    input_ca1.disabled = checkbox_caAn.checked ? false : true;
                    if (!input_ca1.disabled) {
                        input_ca1.focus();
                    }
                }
            </script>
        </div>
    }
</div>