@model Quanlicaan.Models.Framework.NhanVien
@using System.Data
@{
    ViewBag.Title = "Thêm mới nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> list = new List<SelectListItem>();
    List<SelectListItem> listRole = new List<SelectListItem>();
    foreach (DataRow dr in ViewBag.phongBan.Rows)
    {
        SelectListItem item = new SelectListItem();
        item.Value = dr["ID"].ToString();
        item.Text = dr["TenPB"].ToString();
        list.Add(item);
    }

    foreach (DataRow dr in ViewBag.Role.Rows)
    {
        SelectListItem item = new SelectListItem();
        item.Value = dr["ID"].ToString();
        item.Text = dr["URole"].ToString();
        listRole.Add(item);
    }
}

<!doctype html>
<html lang="en">
<head>
    <title>Danh sách nhân viên </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/css/addnv.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/">

</head>

<body>
    <h2>Thêm nhân viên mới</h2>

    @using (Html.BeginForm("AddNV", "NhanVien", FormMethod.Get))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                Họ và tên:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group" id="gioitinh">
                Giới Tính(Nam: tích, Nữ: bỏ tích):
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.GioiTinh)
                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                Địa chỉ:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group">
                Số điện thoại
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group" id="idphongban">
                ID Phòng Ban:
                <div class="col-md-10" id="colpb">
                    @Html.DropDownListFor(model => model.IDPhongBan, list, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhongBan.TenPB, "1: Kế toán | 2: Dân sự | 3: Kỹ thuật", new { @class = "text-danger" })

                </div>
            </div>


            <div class="form-group">
                Chức vụ:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChucVu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChucVu, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group" id="role">
                Quyền đăng ký
                <div class="col-md-10" id="colrole">
                    @Html.DropDownListFor(model => model.IDrole, listRole, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Role.URole, "1: Admin | 2: User", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                Tên đăng nhập:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Mật khẩu:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.upassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.upassword, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group" id="trangthai">
                Trạng thái:
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.trangthai)
                        @Html.ValidationMessageFor(model => model.trangthai, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="btn-bottom" style="padding: 20px 12px">
                    <div class="">
                        <input type="submit" value="Tạo mới" class="btn" />
                    </div>

                    <div>
                        @Html.ActionLink("Quay lại", "Show")
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>