
@{
    ViewBag.Title = "Delete Nhan vien";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model Quanlicaan.Models.Framework.NhanVien
<!doctype html>
<html lang="en">
<head>
    <title>Delete Nhân viên </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-4">
                    <h2 class="heading-section">Bạn có muốn xóa nhân viên </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Delete", "NhanVien", FormMethod.Post, new { @class = "regist-form validate-form" }))
                    {

                        <div class="wrap-input validate-input" data-validate="User's fullname is required">
                            @Html.TextBoxFor(model => model.ID, new { @class = "input", @type = "text", @name = "id", @placeholder = Model.ID, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })

                        </div>

                        <div class="wrap-input validate-input" data-validate="User's fullname is required">
                            @Html.TextBoxFor(model => model.HoTen, new { @class = "input", @type = "text", @name = "HoTen", @placeholder = Model.HoTen, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })

                        </div>

                        <div class="wrap-input validate-input" data-validate="Username is required">
                            @Html.TextBoxFor(model => model.GioiTinh, new { @class = "input", @type = "text", @name = "GioiTinh", @placeholder = Model.GioiTinh, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })

                        </div>
                        <div class="wrap-input validate-input" data-validate="Username is required">
                            @Html.TextBoxFor(model => model.DiaChi, new { @class = "input", @type = "text", @name = "DiaChi", @placeholder = Model.DiaChi, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })

                        </div>

                        <div class="wrap-input validate-input" data-validate="Username is required">
                            @Html.TextBoxFor(model => model.SDT, new { @class = "input", @type = "text", @name = "SDT", @placeholder = Model.SDT, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })

                        </div>

                        <div class="wrap-input validate-input" data-validate="Username is required">
                            @Html.TextBoxFor(model => model.IDPhongBan, new { @class = "input", @type = "text", @name = "IdPhongBan", @placeholder = Model.IDPhongBan, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IDPhongBan, "", new { @class = "text-danger" })

                        </div>

                        <div class="wrap-input validate-input" data-validate="Username is required">
                            @Html.TextBoxFor(model => model.ChucVu, new { @class = "input", @type = "text", @name = "ChucVu", @placeholder = Model.ChucVu, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChucVu, "", new { @class = "text-danger" })

                        </div>

                        <div class="wrap-input validate-input" data-validate="Username is required">
                            @Html.TextBoxFor(model => model.username, new { @class = "input", @type = "text", @name = "username", @placeholder = Model.username, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })

                        </div>

                        <div class="wrap-input validate-input" data-validate="Password is required">
                            @Html.TextBoxFor(model => model.upassword, new { @class = "input", @type = "password", @name = "pass", @placeholder = Model.upassword, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.upassword, "", new { @class = "text-danger" })

                        </div>

                        <div class="wrap-input validate-input" data-validate="Password is required">
                            @Html.TextBoxFor(model => model.trangthai, new { @class = "input", @type = "password", @name = "trangthai", @placeholder = Model.trangthai, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.trangthai, "", new { @class = "text-danger" })

                        </div>



                        <div class="container-login-form-btn">
                            <input type="submit" value="Delete" class="login-form-btn" />
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>


