@model Quanlicaan.NhanVien

@{
    ViewBag.Title = "Xoá nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/deletenv.css" rel="stylesheet" />
}

<h2>Xoá nhân viên</h2>

<h5>Bạn có muốn xoá nhân viên này không?</h5>
<div>

    <hr />
   
        <dl class="dl-horizontal">


            <div class="detail">
            <dt>
                Họ và Tên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoTen)
            </dd>
</div>



<div class="detail">
    <dt>
        Giới Tính
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GioiTinh)
    </dd>
</div>

<div class="detail">
    <dt>
        Địa chỉ
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DiaChi)
    </dd>
</div>

<div class="detail">
    <dt>
        Số điện thoại
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SDT)
    </dd>
</div>
<div class="detail">
    <dt>
        Phòng Ban
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PhongBan.TenPB)
    </dd>
</div>


<div class="detail">
    <dt>
        Chức vụ
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ChucVu)
    </dd>
</div>



<div class="detail">
    <dt>
        Quyền đăng ký
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Role.URole)
    </dd>
</div>


<div class="detail">
    <dt>
        Tên đăng nhập
    </dt>

    <dd>
        @Html.DisplayFor(model => model.username)
    </dd>
</div>



<div class="detail">
    <dt>
        Mật khẩu
    </dt>

    <dd>
        @Html.DisplayFor(model => model.upassword)
    </dd>
</div>


<div class="detail">
    <dt>
        Trạng thái hoạt động
    </dt>

    <dd>
        @Html.DisplayFor(model => model.trangthai)
    </dd>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="btn-bottom" style="padding: 20px 12px">
        <div class="">
            <input type="submit" value="Xoá" class="btn" />
        </div>

        <div class="link">
            @Html.ActionLink("Quay lại", "Show")
        </div>
    </div>
}
</div>


    </dl>

