@using System.Data
@model Quanlicaan.Models.Framework.NhanVien
@{
    ViewBag.Title = "Edit Nhan vien";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> list = new List<SelectListItem>();
    List<SelectListItem> listRole = new List<SelectListItem>();
    foreach (DataRow dr in ViewBag.phongBan.Rows)
    {
        SelectListItem item = new SelectListItem();
        item.Value = dr["ID"].ToString();
        item.Text = dr["TenPB"].ToString();
        list.Add(item);
    }

    foreach (DataRow dr in ViewBag.Role.Rows)
    {
        SelectListItem item = new SelectListItem();
        item.Value = dr["ID"].ToString();
        item.Text = dr["URole"].ToString();
        listRole.Add(item);
    }

}
<!doctype html>
<html lang="en">
<head>
    <title>Chỉnh sửa thông tin nhân viên </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/editnv.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>


</head>
<body>

    <div class="container">
        <section class="get-in-touch">
            <h3 class="title">Chỉnh sửa thông tin nhân viên</h3>
            @using (Html.BeginForm("EditNV", "NhanVien", FormMethod.Post, new { @class = "contact-form row" }))
            {
                <div class="form-field col-lg-6">
                    <label class="label" for="iduser">ID User</label>
                    @Html.TextAreaFor(model => model.ID, new { @class = "input-text js-input", @type = "text", @name = "id", @id = "iduser", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })

                </div>

                <div class="form-field col-lg-6 ">
                    <label class="label" for="iduser">Họ Tên</label>
                    @Html.TextAreaFor(model => model.HoTen, new { @class = "input-text js-input", @type = "text", @name = "id", @id = "iduser" })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
                <div class="form-field col-lg-6 ">
                    <label class="label" for="iduser">Giới tính </label>
                    <div class="checkbox">
                        @Html.EditorFor(model => model.GioiTinh)
                        (Nam :Chọn  , Nữ : không tích)
                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-field col-lg-6 ">
                    <label class="label" for="iduser">Địa chỉ</label>
                    @Html.TextAreaFor(model => model.DiaChi, new { @class = "input-text js-input", @type = "text", @name = "id", @id = "iduser" })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
                <div class="form-field col-lg-6 ">
                    <label class="label" for="iduser">Số điện thoại</label>
                    @Html.TextAreaFor(model => model.SDT, new { @class = "input-text js-input", @type = "text", @name = "id", @id = "iduser" })
                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                </div>
                <div class="form-field col-lg-6 ">
                    <label class="label" for="iduser">Chọn phòng ban</label>
                    @Html.DropDownListFor(model => model.IDPhongBan, list, new { @class = "col-lg-9 border border-primary rounded h-50  select_drop " })
                    @Html.ValidationMessageFor(model => model.IDPhongBan, "", new { @class = "text-danger" })
                </div>
                <div class="form-field col-lg-6 ">
                    <label class="label" for="iduser">Chức vụ nhân viên</label>
                    @Html.TextAreaFor(model => model.ChucVu, new { @class = "input-text js-input", @type = "text", @name = "id", @id = "iduser" })
                    @Html.ValidationMessageFor(model => model.ChucVu, "", new { @class = "text-danger" })
                </div>
                <div class="form-field col-lg-6 ">
                    <label class="label" for="iduser">Quyền đăng nhập</label>
                    @Html.DropDownListFor(model => model.IDrole, listRole, new { @class = "col-lg-9 border border-primary rounded h-50 select_drop " })
                    @Html.ValidationMessageFor(model => model.Role.URole, "", new { @class = "text-danger" })
                </div>
                <div class="form-field col-lg-6 ">
                    <label class="label" for="iduser">Username</label>
                    @Html.TextAreaFor(model => model.username, new { @class = "input-text js-input", @type = "text", @name = "id", @id = "iduser"     })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
                <div class="form-field col-lg-6 ">
                    <label class="label" for="iduser">Password</label>
                    @Html.PasswordFor(model => model.upassword, new { @class = "input-text", @value = Model.upassword })
                    @Html.ValidationMessageFor(model => model.upassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-field col-lg-6 ">
                    <label class="label" for="iduser">Trạng thái </label>
                    <div class="checkbox">
                        @Html.EditorFor(model => model.trangthai)
                        (Active :Chọn  , No Active : không tích)
                        @Html.ValidationMessageFor(model => model.trangthai, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-field col-lg-6">
                    <label class="label" for="iduser">Quyền đăng kí ca ăn tập thể </label>
                    <div class="checkbox">
                        @Html.EditorFor(model => model.PhanQuyen)
                        (Yes :Chọn  , No : không tích)
                        @Html.ValidationMessageFor(model => model.PhanQuyen, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-field col-lg-12" style=" display: flex; justify-content: space-around;">
                    <input class="submit-btn" type="submit" value="Submit">
                    <button class="submit-btn">  @Html.ActionLink("Quay lại", "Show", "", new { @class = "back" })</button>
                </div>
            }
        </section>

    </div>

</body>
</html>


