@using Quanlicaan.Models.Session
@{
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var per = (userSession)Session["user"];
}

@if (per.IDRole == 1)
{
    <a href="@Url.Action("Create","NhanVien")" style="margin-top:30px">Thêm mới</a>
}

@using (Html.BeginForm("Index", "NhanVien", FormMethod.Get))
{
    <div class="form-group" style="display:block; width:40%; border-radius:3px; padding-top:20px; padding-bottom:10px">

        <input type="Text" class="form-control mx-0" value="@ViewBag.Keyword" name="tennv" placeholder="Nhập tên nhân viên cần tìm">
        <button type="submit" class="btn btn-secondary"> Tìm kiếm</button>
    </div>
    <hr />
}
<table class="table tab-content table-bordered table-striped">
    <tr style="text-align:center">
        <th>ID</th>
        <th>Họ và tên</th>
        <th>Giới tính</th>
        <th>Địa chỉ</th>
        <th>Số điện thoại</th>
        <th>ID Phòng Ban</th>

        <th>Quyền truy cập</th>
        <th>Chức vụ</th>
        <th>username</th>
        @*<th>password</th>*@

        <th>Quyền đăng ký ăn</th>
        <th>Trạng thái</th>

        <th></th>
    </tr>
    @foreach (var Model in Model)
    {
        <tr>
            <td>@Model.ID</td>
            <td>@Model.HoTen </td>

            @if (@Model.GioiTinh)
            {
                <td>
                    Nam
                </td>
            }
            else
            {
                <td> Nữ</td>
            }


            <td>@Model.DiaChi</td>
            <td>@Model.SDT</td>
            <td>@Model.IDPhongBan</td>

            @if (Model.IDrole == 1)
            {


                <td>Admin</td>
            }
            else
            {
                <td>User</td>
            }
            <td>@Model.ChucVu</td>
            <td>@Model.username</td>
            @*<td>@Model.upassword</td>*@



            <td>@Model.RoleRegist</td>
            @if (@Model.trangthai)
            {
                <td>✔</td>
            }
            else
            {
                <td> ✘</td>
            }
            <td>

                @if (per.IDRole == 1)
                {
                    <a href="@Url.Action("Edit", "NhanVien", new { @id = Model.ID })">Sửa</a>
                    @*<br />
                    <a href="@Url.Action("Delete","NhanVien", new {@id = Model.ID})">Delete</a>*@
                }
            </td>
        </tr>
    }
</table>


