@model PagedList.IPagedList<Quanlicaan.Models.ModelADO.NhanVienModel>

@using PagedList.Mvc
@using PagedList
@using System.Data

@{
    
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/one.css" rel="stylesheet" />

    var message = ViewData["message"] ?? string.Empty;
    if (@message != "")
    {
        <script> alert('@message');</script>
    }

    List<SelectListItem> listPB = new List<SelectListItem>();
    foreach (DataRow dr in ViewBag.PhongBan.Rows)
    {
        SelectListItem item = new SelectListItem();
        item.Value = dr["ID"].ToString();
        item.Text = dr["TenPB"].ToString();
        listPB.Add(item);
    }
    
        

      

   
}


<div class="container_s">
    <div class="containerS-item">
         @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get)) {
             <div class="form-group">

            <input type="Text" class="form-control mx-10" value="@ViewBag.Keyword" name="tennv" placeholder="Nhập tên nhân viên cần tìm">
            <button type="submit" class="btn btn-secondary"> Tìm kiếm</button>
        </div>


    }
    </div>
    <div class="containerS-item" style="margin-left:20%;">
         @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get, new { @class = "contact-form" })) {
             <div class="form-group" >
            @Html.DropDownList("tenPB", listPB, new { @class = "form-control", @value = "@ViewBag.Keyword", @name = "tenPB" })
            <button type = "submit" class="btn btn-secondary"> Tìm kiếm</button>
              </div>
}
</div>
    <hr />
</div>


<a href="@Url.Action("Create","NhanVien")">Thêm mới</a>
<table class="table table-hover table-active tab-content table-bordered table-striped">
    <tr style="text-align:center">
        <th>ID</th>
        <th>Họ và tên</th>
        <th>Giới tính</th>
        <th>Địa chỉ</th>
        <th>Số điện thoại</th>
        <th> Phòng Ban</th>

        <th>Quyền truy cập</th>
        <th>Chức vụ</th>
        <th>Tên đăng nhập</th>
        @*<th>Mật khẩu</th>*@

        <th>Quyền đăng ký ăn</th>
        <th>Trạng thái</th>

        <th></th>
    </tr>
    @foreach (var Model in Model)
    {
        <tr>
            <td>@Model.ID</td>
            <td>@Model.HoTen </td>

            @if (@Model.GioiTinh)
            {
                <td>
                    Nam
                </td>
            }
            else
            {
                <td> Nữ</td>
            }


            <td>@Model.DiaChi</td>
            <td>@Model.SDT</td>
            <td>@Model.TenPB</td>

            @if (Model.IDrole == 1)
            {


                <td>Admin</td>
            }
            else
            {
                <td>User</td>
            }
            <td>@Model.ChucVu</td>
            <td>@Model.username</td>
            @*<td>@Model.upassword</td>*@



            <td>@Model.RoleRegist</td>
            @if (@Model.trangthai)
            {
                <td>✔</td>
            }
            else
            {
                <td> ✘</td>
            }
            <td>


                <a href="@Url.Action("Edit", "NhanVien", new { @id = Model.ID })">Sửa</a>
                @*<br />
                    <a href="@Url.Action("Delete","NhanVien", new {@id = Model.ID})">Delete</a>*@

            </td>
        </tr>
    }
</table>

@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @class = "pagination" }))


