
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table tab-content table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Họ Tên</th>
        <th>Giới tính</th>
        <th>Địa chỉ</th>
        <th>SDT</th>
        <th>ID PhongBan</th>
        <th>ID Role</th>
        <th>Chuc Vu</th>
        <th>UserName</th>
        <th>Password</th>
        <th>status</th>

        <th></th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
<tr>
    <td>@Model.Rows[i][0]</td>
    <td>@Model.Rows[i][1]</td>
    <td>@Model.Rows[i][2]</td>
    <td>@Model.Rows[i][3]</td>
    <td>@Model.Rows[i][4]</td>
    <td>@Model.Rows[i][5]</td>
    <td>@Model.Rows[i][6]</td>
    <td>@Model.Rows[i][7]</td>
    <td>@Model.Rows[i][8]</td>
    <td>@Model.Rows[i][9]</td>
    <td>@Model.Rows[i][10]</td>
    <td>
        <a href="@Url.Action("Edit","NhanVien", new {@id = Model.Rows[i][0]})">Edit</a>
        <br />
        <a href="@Url.Action("Delete","NhanVien", new {@id = Model.Rows[i][0]})">Delete</a>
    </td>
</tr>
    }
    </table>
    <a href="@Url.Action("Create","NhanVien")">Add New</a>

