
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}
@model List<Quanlicaan.NhanVien>
<!doctype html>
<html lang="en">
<head>
    <title>Danh sách nhân viên </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-4">
                    <h2 class="heading-section">Danh sách nhân viên</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                
                    <div class="table-wrap">
                        <table class="table">
                            <tr>
                                <th>ID</th>
                                <th>Ho Ten</th>
                                <th>Gioi Tinh</th>
                                <th>Dia Chi</th>
                                <th>SDT</th>
                                <th>Id Phong ban</th>
                                <th>Chuc vu</th>
                                <th>username</th>
                                <th>password</th>
                                <th>trang thai</th>
                            </tr>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@item.ID</th>
                                        <th>@item.HoTen</th>
                                        <th>@item.GioiTinh</th>
                                        <th>@item.DiaChi</th>
                                        <th>@item.SDT</th>
                                        <th>@item.IDPhongBan</th>
                                        <th>@item.ChucVu</th>
                                        <th>@item.username</th>
                                        <th>@item.upassword</th>
                                        <th>@item.trangthai</th>
                                    </tr>
                                  }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>


