

@{
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/nv.css" rel="stylesheet" />
}

<h2 style="text-align:center">Danh sách nhân viên</h2>

<p>
    @Html.ActionLink("Thêm mới", "Add_Record")
</p>
<table class="table">
    <tr class="header">
        <th>ID</th>
        <th>Họ và tên</th>
        <th>ID phòng ban</th>
        <th>tên đăng nhập</th>
        <th>mật khẩu</th>
        <th>quyền trên hệ thống</th>
        <th> quyền đăng ký ca ăn</th>
        <th>Trạng thái tài khoản</th>
        <th>Actions</th>
    </tr>

    @foreach (System.Data.DataRow item in ViewBag.nv.Rows)
    {
        <tr>
            <td> @item["ID"] </td>
            <td> @item["hoTen"] </td>
            <td> @item["IDPhongBan"] </td>
            <td> @item["username"] </td>
            <td> @item["upassword"] </td>
            <td> @item["IDRole"] </td>
            <td> @item["quyen"] </td>
            <td> @item["trangThai"] </td>
            <td>
                <a href="#">Update</a>

                <a href="#">Delete</a>
            </td>



        </tr>
    }

</table>
@*<div class="link">

    </div>*@
