
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model List<Quanlicaan.NhanVien>
<!doctype html>
<html lang="en">
<head>
    <title>Danh sách nhân viên </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-4">
                    <h2 class="heading-section">Danh sách nhân viên</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Show", "NhanVien", FormMethod.Get))
                    {
                        <div class="form-group">
                            <label>Tìm kiếm nhân viên </label>
                            <input type="Text" class="form-control mx-sm-3" value="@ViewBag.Keyword"   name="tennv" placeholder="Nhập tên nhân viên cần tìm">
                            <button type="submit" class="btn btn-primary"> Tìm kiếm</button>
                        </div><hr />
                    }
                    <div class="table-wrap">
                        <table class="table">
                            <tr>
                                <th>ID</th>
                                <th>Ho Ten</th>
                                <th>Gioi Tinh</th>
                                <th>Dia Chi</th>
                                <th>SDT</th>
                                <th>Id Phong ban</th>
                                <th>Chuc vu</th>
                                <th>Phân quyền</th>
                                <th>username</th>
                                <th>password</th>
                                <th>trang thai</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.trangthai == true)
                                    {
                                        <tr>
                                            <th>@item.ID</th>
                                            <th>@item.HoTen</th>
                                            @if (@item.GioiTinh)
                                            {
                                                <th> Nam </th>
                                            }
                                            else
                                            {
                                                <th> Nữ</th>
                                            }

                                            <th>@item.DiaChi</th>
                                            <th>@item.SDT</th>
                                            <th>@item.IDPhongBan</th>
                                            <th>@item.ChucVu</th>
                                            @if (item.IDrole==1)
                                            {
                                                <th> Admin</th>
                                            }
                                            else
                                            {
                                                <th> Nhân viên</th>
                                            }
                                            <th>@item.username</th>
                                            <th>@item.upassword</th>

                                            @if (@item.trangthai)
                                            {
                                                <th> Hoạt động </th>
                                            }
                                            else
                                            {
                                                <th> Không hoạt động</th>
                                            }
                                            <th><a href="@Url.Action("EditNV", "NhanVien" , new { id = item.ID})">Chỉnh sửa thông tin</a></th>
                                            <th><a href="@Url.Action("Delete", "NhanVien" , new { id = item.ID})">Xóa nhân viên</a></th>

                                        </tr>
                                    }

                                }
                            </tbody>

                        </table>
                    </div>

                    <div>
                        <button> thêm mới nhân viên</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>


