@model Quanlicaan.Models.ShowModels.userModel

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">



    var message = ViewData["message"] ?? string.Empty;
    if (@message != "")
    {
        <script> alert('@message');</script>
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/fonteawsome/fontawesome-free-6.1.1-web/css/all.min.css">
    <link href="~/css/details.css" rel="stylesheet" />

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <h2 style="margin-left:auto;margin-right:auto;">Thông tin cá nhân</h2>
    <div class="container">

        <div class="info">

            <p class="info_lable"> ID</p>



            <p class="info_detail">@Html.DisplayFor(model => model.ID)</p>

        </div>

        <div class="info">


            <p class="info_lable"> Họ và tên</p>


            <p class="info_detail"> @Html.DisplayFor(model => model.HoTen)</p>

        </div>
        <div class="info">


            <p class="info_lable"> Giới Tính</p>




            <p class="info_detail">@Html.DisplayFor(model => model.GioiTinh)</p>

        </div>

        <div class="info">
            <p class="info_lable">Địa chỉ</p>




            <p class="info_detail">@Html.DisplayFor(model => model.DiaChi)</p>

        </div>

        <div class="info">
            <p class="info_lable">Số điện thoại</p>




            <p class="info_detail">@Html.DisplayFor(model => model.SDT)</p>

        </div>

        <div class="info">
            <p class="info_lable"> Phòng Ban</p>



            <p class="info_detail"> @Html.DisplayFor(model => model.PhongBan)</p>

        </div>



        <div class="info">

            <p class="info_lable">Chức vụ</p>




            <p class="info_detail">@Html.DisplayFor(model => model.ChucVu)</p>

        </div>

        <div class="info">

            <p class="info_lable">Quyền truy cập</p>



            <p class="info_detail">
                @Html.DisplayFor(model => model.QuyenTruyCap)

            </p>

        </div>

        <div class="info">
            <p class="info_lable">Quyền đăng ký ăn</p>


            <p class="info_detail"> @Html.DisplayFor(model => model.RoleRegist)</p>
        </div>


        <div class="info">
            <p class="info_lable">Trạng thái</p>

            <p class="info_detail">@Html.DisplayFor(model => model.trangthai)</p>
        </div>



    </div>
    <div class="edit00" style="padding:5px;text-align:center">
        @*<h3>@Html.ActionLink("Chỉnh sửa thông tin", "EditDetails")</h3>*@
        @*<a href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLive"> Thay đổi thông tin cá nhân</a>*@

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLive">
            Thay đổi thông tin cá nhân
        </button>

    </div>


   

    <div class="modal fade" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLiveLabel">Cập nhật thông tin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputHoTen">Họ và tên</label>
                        <input type="text" class="form-control" id="inputHoTen" placeholder="Nhập họ và tên" />
                    </div>

                    <div class="form-group">
                        <label for="inputGioiTinh">Giới tính</label>
                        <select class="form-control" id="inputGioiTinh">
                            <option value="0"> Nữ </option>
                            <option value="1"> Nam </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="inputSDT">Số điện thoại</label>
                        <input type="number" class="form-control" id="inputSDT" placeholder="Nhập SDT" minlength="10" maxlength="10" />
                    </div>

                    <div class="form-group">
                        <label for="inputDiaChi">Địa chỉ</label>
                        <input type="text" class="form-control" id="inputDiaChi" placeholder="Nhập địa chỉ" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở lại</button>
                    <button type="button" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script>

        </script>

    }

</body>
</html>




