@using PagedList.Mvc
@model PagedList.IPagedList<Quanlicaan.Models.ModelsPage.BaocaocanhanModelPage>
@using Quanlicaan.Models.Session

@{
    ViewBag.Title = "Thống kê suất ăn theo ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var info = (UserSession)Session["UserSession"];
    var message = ViewData["message"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê suất ăn theo ngày</title>

    <link rel="stylesheet" href="~/css/main.css">

</head>
<body>

    <div class="title">  Thống kê đăng kí ca ăn theo ngày</div>
    <h2 style="text-align:center ; color: #f4524d;">Người quản lí  : @info.hoTen</h2>
    <h4 style="text-align:center ; color: #f4524d;">Ngày hiện tại : @DateTime.Now.ToString("dd-MM-yyyy hh:mm:ss tt")</h4>




    @*  thống kê các ca ăn trong 1 ngày *@
    <div style="padding : 0 3rem">
        <div>   <h3 style="color:#dd5e14c7">Danh sách suất ăn nhân viên đã đăng kí</h3></div>
        <div style=" display: flex; justify-content: space-around; align-items: center;">
            @* Tìm kiếm theo ngày *@

            @using (Html.BeginForm("Baocaotheongay", "Baocao", FormMethod.Post, new { @class = "form_thong_ke_theo_ngay" }))
            {
                <div style="margin:30px;">

                    <label for="timeStart" style="width:5.6rem ; font-weight:800;">Từ ngày</label>
                    <input style="width: 10.4rem; height: 2.5rem; border-radius: 50px; padding: 0 6px;" type="date" name="fistDay" value="" min="1997-01-01" max="2119-12-31" />

                </div>

                <div style="margin:30px;">

                    <label for="timeEnd" style="width:5.6rem ; font-weight:800;">Đến ngày</label>
                    <input style="width: 10.4rem; height: 2.5rem; border-radius: 50px; padding: 0 6px;" type="date" name="endDay" value="" min="1997-01-01" max="2119-12-31" />


                </div>

                <button type="submit" class="submit-btn"> Tìm kiếm</button>
            }


        </div>
        <table class="table table-bordered border-primary">
            @if (Model.Count == 0)
            {
                <div> Bạn chưa đăng kí</div>
                <div> @message</div>

            }
            else
            {


                <thead>
                    <tr>
                        <th scope="col">Mã suất ăn</th>
                        <th scope="col">Nhân viên đăng kí </th>
                        <th scope="col">Thời gian đặt</th>
                        <th scope="col">Loại suất ăn</th>
                        <th scope="col">Mã chi tiết suất ăn</th>
                        <th scope="col">Ca ăn</th>
                        <th scope="col">Nhân viên được đăng kí</th>
                        <th scope="col"> Số lượng suất ăn </th>
                        <th scope="col"> Thời gian cập nhật gần nhất</th>
                        <th scope="col"> Người cập nhât gần nhất</th>
                        <th scope="col"> Thành tiền </th>
                    </tr>
                </thead>


                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.MaSuatan</td>
                            <td> @item.Hotennguoidangki</td>
                            <td> @item.Thoigiandangki.ToString("dd-MM-yyyy hh:mm:ss tt")</td>

                            @if (@item.LoaiSuatan == 1)
                            {
                                <td> Tập thể</td>
                            }

                            else
                            {
                                <td> Cá nhân</td>
                            }

                            <td>@item.MaCTSuatan</td>
                            <td>@item.MaCaan</td>
                            <td>@item.Hotennguoidungsuatan</td>
                            <td>@item.Soluong</td>
                            <td>@item.Thoigiancapnhat.ToString("dd-MM-yyyy hh:mm:ss tt")</td>
                            <td>@item.Hotennguoicapnhat</td>
                            <td> @item.Thantien</td>
                        </tr>

                    }


                </tbody>

            }

        </table>


    </div>

    <div class="btn_submit_back">
        <button class="submit-btn"><a class="back" href=" @Url.Action("Home","Home") "> Quay lại</a></button>
    </div>

    <div style="text-align:center">
        <!-- Thêm mã phân trang -->
        <br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Baocaotheongay", new { page, @class = "pagination" }))
        <!-- Kết thúc -->
    </div>
</body>

</html>