@model IEnumerable<Quanlicaan.Models.ShowModels.ChiTietCaAnModel>
@using System.Linq;
@{
    <link href="~/css/shome.css" rel="stylesheet" />
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var day = (@DateTime.Today.Day);
    var month = (DateTime.Today.Month);
    var year = (DateTime.Today.Year);
    var fullday = DateTime.Now;
    var hour = DateTime.Now.TimeOfDay;



    var message = ViewData["message"] ?? string.Empty;
    if (@message != "")
    {
        <script> alert('@message');</script>
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/fonteawsome/fontawesome-free-6.1.1-web/css/all.min.css">
    <link href="~/css/shome.css" rel="stylesheet" />
   

</head>
<body>
    <div class="container" style="padding-top:20px;margin-left:auto;margin-right:auto;">

        @if (Model.Any())
        {
            <table class="table table-hover table-active tab-content table-bordered table-striped">
                <thead> Ca ăn đã đăng ký ngày @day - @month - @year   </thead>

                <tr>

                    <th>
                        Ca Ăn
                    </th>
                    <th>
                        Số lượng(suất)
                    </th>
                    <th>
                        Thời gian đăng ký
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.TenCaAn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Soluong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayDk)
                        </td>


                    </tr>
                }

            </table>
            <a href="@Url.Action("EditDkiCaanCanhan", "Home")">Chỉnh sửa</a>
        }
        else
        {

            <h2 style="text-align:center;padding:15%">Hôm nay bạn chưa đăng ký ăn !</h2>
        }


    </div>
</body>
</html>