@model PagedList.IPagedList<Quanlicaan.Models.ModelADO.PhongBanModel>
@using Quanlicaan.Models.Session

@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "Danh sách phòng ban";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var per = (userSession)Session["user"];
    <link href="~/css/one.css" rel="stylesheet" />
    var message = ViewData["message"] ?? string.Empty;
    if (@message != "")
    {
        <script> alert('@message');</script>
    }
}

    <a href="@Url.Action("Create","PhongBan")">Thêm mới</a>


<table class="table table-hover table-active tab-content table-bordered table-striped">
    <tr style="text-align:center">
        <th>ID</th>
        <th>Tên Phòng Ban</th>


        <th></th>
    </tr>
    @foreach (var Model in Model)
    {
        <tr>
            <td>@Model.ID</td>
            <td>@Model.TenPB </td>





            <td>


                <a href="@Url.Action("Edit", "PhongBan", new { @id = Model.ID })">Sửa</a>
                @*<br />
                    <a href="@Url.Action("Delete","NhanVien", new {@id = Model.ID})">Delete</a>*@

            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)





