@model List<Quanlicaan.Models.ModelADO.DangkyantaptheModel>
@using Quanlicaan.Models.Session

@{
    ViewBag.Title = "Đăng ký ăn tập thể";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/dangkyannhom.css" rel="stylesheet" />

    var info = (userSession)Session["user"];

    int a = 1;
    var message = ViewData["message"] ?? string.Empty;
    if (@message != "")
    {
        <script> alert('@message');</script>
    }
}


<div class="d-flex flex-column px-2">
    <div style="margin:auto">
        <h1>ĐĂNG KÍ ĂN CA TẬP THỂ</h1>
    </div>
    <div class="d-flex justify-content-around" style="margin-bottom:20px">
        <h4>  Nhân viên đăng kí : @info.HoTen</h4>
        <h4>  Ngày đăng kí : @DateTime.Now.ToString("HH:mm:ss dd-MM-yyyy")</h4>

    </div>
    @using (Html.BeginForm("DkiTapThe", "Dangkytapthe", FormMethod.Post))
    {

        <table class="table table-hover table-active tab-content table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã nhân viên</th>
                    <th scope="col">Tên nhân viên</th>
                    <th scope="col">Tên Phòng Ban</th>
                    <th scope="col">Chọn</th>
                    <th scope="col">Đăng kí ca ăn</th>

                </tr>
            </thead>
            <tbody>
                @for (int k = 0; k < Model.Count; k++)
                {
                    int j = 1;
                    <tr>
                        <td>@a</td>
                        <td>
                            @Html.HiddenFor(m => Model[k].IDUser)
                            @Model[k].IDUser
                        </td>
                        <td>
                            @Html.HiddenFor(m => Model[k].HoTen)
                            @Model[k].HoTen
                        </td>
                        <td>
                            @Html.HiddenFor(m => Model[k].PhongBan)
                            @Model[k].PhongBan
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => Model[k].TrangThai)
                        </td>
                        <td>
                            <table>
                                @for (int i = 0; i < Model[k].ListCaAn.Count; i++)
                                {
                                    <tr style=" display: flex; align-Model[k]s: flex-end;">
                                        <td>
                                            @Html.CheckBoxFor(m => Model[k].ListCaAn[i].IsChecked)
                                            @Html.HiddenFor(m => Model[k].ListCaAn[i].ID)
                                            @Html.HiddenFor(m => Model[k].ListCaAn[i].Thoigian)

                                        </td>
                                        <td style=" margin-right :10px">
                                            Ca @j
                                        </td>
                                        <td>
                                            <h6>Số lượng suất ăn</h6>
                                            @Html.TextBoxFor(m => Model[k].ListCaAn[i].SoluongSuatan, new { htmlAttributes = new { @class = "form-control", placeholder = "Số lượng suất ăn" } })
                                        </td>

                                    </tr>
                                    j++;
                                }
                            </table>
                        </td>

                    </tr>
                    a++;
                }
            </tbody>
        </table>

        <div style="text-align:center">
            <button type="submit" class="btn btn-success btn-lg" style="width: 40%; ">Đăng kí  ca ăn</button>

        </div>
    }

    <div style="text-align:center">
        <button class="btn btn-danger btn-lg" style="width: 40%; "> <a style="text-decoration:none ; color:white; " href="@Url.Action("Home","Home")">Cancel</a></button>
    </div>
</div>


@*<script type="text/javascript">

        function EnableDisableTextBox(checkbox_caAn, inputCaAn) {
            var input_ca = document.getElementById(inputCaAn);
            var checkbox_caAn = document.getElementById(checkbox_caAn)
            input_ca.disabled = checkbox_caAn.checked ? false : true;
            if (!input_ca.disabled) {
                input_ca.focus();
            }
        }
    </script>*@



