@model Quanlicaan.Models.ModelADO.DangkyantaptheModel

@{
    ViewBag.Title = "TapThe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/dangkyannhom.css" rel="stylesheet" />
    int count = 0;
}

@using (Html.BeginForm("XuLyDangKyTapThe", "Dangkytapthe", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h1 class="page-header">ĐĂNG KÝ CA ĂN TẬP THỂ</h1>
        <div class="form-group">
            <div class="thong-tin-nguoi-dang-ky">
                <label for="" class="ten-dau-muc">HỌ TÊN NGƯỜI ĐĂNG KÝ</label>
                @Html.EditorFor(model => model.HoTenNDK, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                <label for="" class="ten-dau-muc">PHÒNG BAN</label>
                @Html.EditorFor(model => model.PhongBan, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                <label for="" class="ten-dau-muc">NGÀY ĐĂNG KÝ</label>
                @Html.EditorFor(model => model.ngayDK, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
            @for (int i = 0; i < Model.dsNV.Count; i++)
            {
                <div class="danh-sach-nhan-vien-thuoc-phong-ban">
                    <div class="form-group">
                        <div class="form-control">
                            <table class="table tab-content table-bordered table-light table-responsive">
                                <th>
                                    <span class="label label-danger">Họ tên </span>
                                </th>
                                <td>@Html.EditorFor(model => model.dsNV[i].HoTen, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })</td>


                                @*===================*@

                                @{
                                    string idCheckBoxCa1 = "checkboxca1_" + count.ToString();
                                    string idTextBoxCa1 = "textboxca1_" + count.ToString();
                                    string idCheckBoxCa2 = "checkboxca2_" + count.ToString();
                                    string idTextBoxCa2 = "textboxca2_" + count.ToString();
                                    string idCheckBoxCa3 = "checkboxca3_" + count.ToString();
                                    string idTextBoxCa3 = "textboxca3_" + count.ToString();
                                    count++;

                                    <th><label class="label" for="checkbox_ca1">Ca 1:</label></th>

                                    <td>
                                        <input type="checkbox" class="checkbox" id=@idCheckBoxCa1 onclick="EnableDisableTextBox('@idCheckBoxCa1', '@idTextBoxCa1')" name="checkbox-ca1" value="">
                                        @Html.EditorFor(model => model.dsNV[i].SLCa1, new { htmlAttributes = new { @class = "form-control", id = @idTextBoxCa1, disabled = "disabled" } })
                                        suất
                                    </td>


                                    <th><label class="label" for="checkbox_ca2">Ca 2:</label></th>
                                    <td>
                                        <input type="checkbox" class="checkbox" id=@idCheckBoxCa2 onclick="EnableDisableTextBox('@idCheckBoxCa2', '@idTextBoxCa2')" name="checkbox-ca1" value="">
                                        @Html.EditorFor(model => model.dsNV[i].SLCa2, new { htmlAttributes = new { @class = "form-control", id = @idTextBoxCa2, disabled = "disabled" } })
                                        suất
                                    </td>


                                    <th><label class="label" for="checkbox_ca2">Ca 3:</label></th>
                                    <td>
                                        <input type="checkbox" class="checkbox" id=@idCheckBoxCa3 onclick="EnableDisableTextBox('@idCheckBoxCa3', '@idTextBoxCa3')" name="checkbox-ca1" value="">
                                        @Html.EditorFor(model => model.dsNV[i].SLCa3, new { htmlAttributes = new { @class = "form-control", id = @idTextBoxCa3, disabled = "disabled"  } }) suất
                                    </td>

                                }
                            </table>
                        </div>
                    </div>
                </div>
            }
            <div class="">
                <button class="btn btn-info" type="submit">OK</button>
                <button class="btn btn-warning">CANCEL</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function EnableDisableTextBox(checkbox_caAn, inputCaAn) {
            var input_ca = document.getElementById(inputCaAn);
            var checkbox_caAn = document.getElementById(checkbox_caAn)
            input_ca.disabled = checkbox_caAn.checked ? false : true;
            if (!input_ca.disabled) {
                input_ca.focus();
            }
        }
    </script>

}

