
@model  Quanlicaan.Models.Framework.NhanVien

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Regist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--=====================================================================-->
    <link rel="stylesheet" href="~/css/regist.css">
</head>
<body>
    <div class="limiter">
        <div class="container-regist">
            <div class="wrap-regist">
                @using (Html.BeginForm(new { @class = "regist-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="regist-form-title">
                        Đăng kí thông tin người dùng
                    </span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                   

                    <div class="wrap-input validate-input" data-validate="User's fullname is required">
                        @Html.TextBoxFor(model => model.HoTen, new { @class = "input", @type = "text", @name = "fullname", @placeholder = "Họ tên nhân viên", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input validate-input" data-validate="Username is required">
                        @Html.TextBoxFor(model => model.username, new { @class = "input", @type = "text", @name = "username", @placeholder = "Tên đăng nhập", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input validate-input" data-validate="Password is required">
                        @Html.TextBoxFor(model => model.upassword, new { @class = "input", @type = "password", @name = "pass", @placeholder = "Mật khẩu", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.upassword, "", new { @class = "text-danger" })
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <p>Mã phòng ban</p>

                    <div class="select-department" data-validate="Department is required">
                        @*@Html.LabelFor(model => model.idphongban, "Mã phòng ban", htmlAttributes: new { @class = "container-checkbox" })*@
                        @Html.DropDownList("IDPhongBan", new List<SelectListItem>
                   {
                       new SelectListItem {Text = "Chọn phòng ban", Value = "0" },
                       new SelectListItem {Text = "Kế toán", Value = "1"},
                       new SelectListItem {Text = "Dân sự", Value = "2"},
                       new SelectListItem {Text = "Kỹ thuật", Value = "3"},
                       //new SelectListItem {Text = "pb004", Value = "pb004"},
                       //new SelectListItem {Text = "pb005", Value = "pb005"},
                       //new SelectListItem {Text = "pb005", Value = "pb005"},
                   }, htmlAttributes: new { @class = "form-control" });
                        @Html.ValidationMessageFor(model => model.IDPhongBan, "", new { @class = "text-danger" })
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                   

                   


                    <div class="container-login-form-btn">
                        <input type="submit" value="Đăng ký" class="login-form-btn">
                           
                        </input>
                    </div>
                }

            </div>
        </div>
    </div>
</body>
</html>
